body { 
   font-family: Arial, Helvetica;
   font-size: 120%;
   color: #222;
   margin: 0;
   background-color: #BCD7FF;
}
.card {
   margin: 25px 35px 0;
   padding: 15px;
   box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
   background-color: #fff;
}
